* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif, Verdana;
  font-weight: 100;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background: #fff;
  color: #080808;

}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/bg5.gif);
  background-repeat: repeat;
  background-size:cover;
  background-position: top center;
  position:sticky;

}
.container{
  padding: 10px 10%;
  
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Add this CSS to your style.css file */
.logo {
  width: 300px; /* Adjust the width as needed */
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;
}

nav ul li a {
  color: #080808;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 50%;
  bottom: -6px;
  transition: width 0.3s ease-in-out; /* Add transition for a smooth effect */
}

nav ul li a:hover::after {
  width: 100%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
}

.header-text{
  margin-top:20%;
  font-size: 30px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span{
  color: cadetblue;
}

<!--------------------about----------------->
#about {
  padding: 80px 0;
  color:#080808;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}

#about img{
  max-width: 1000px; /* Set the maximum width */
  max-height: 500px; /* Set the maximum height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  position: relative;
  margin-top: 0;
  font-size : 50px;
  font-weight: 600;
  color:#080808;
  padding: 10px 20px;

}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
  margin-top: 50px;
  
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  text-align:center;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition:  width 0.5s ease-in-out;
}
.tab-links:hover::after {
  width: 70%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #b54769;
  font-size: 14px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/*------------------------ Portfolio-----------------------------*/
#Portfolio{
  padding: 30px 0;
}
.Research-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.Research-list div{
  background: #EDC7BB;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
}

.Research-list div i{
  font-size: 50 px;
  margin-bottom: 20px;
}
.Research-list div h2{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.Research-list div a{
  text-decoration: none;
  color:#080808;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.Research-list div:hover{
  background: #b54769;
  transform: translateY(-10px);
}
/*------------------------ Activities-----------------------------*/
#Activities{
  padding: 50px 0;
}
.Activity-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.Uni{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.Uni img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background:linear-gradient(rgba(0,0,0,0.6),#ecb96e);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #ed740a;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #ecb96e;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.Uni:hover img {
  transform: scale(1.1);
}
.Uni:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ed740a;
  padding: 14px 20px;
  border-radius: 6px;
  text-decoration: none;
  color:#080808;
  transition: background 0.5s;
}
.btn:hover{
  background: #ed740a;
}
/*------------------------ Contact-----------------------------*/
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #080808;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #a9a9a9;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #21208b;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  border: 1px solid #a9a9a9;
  background: #ecb96e;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #a9a9a9;
  padding: 15px;
  margin: 15px 0;
  color:#080808;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #EDC7BB;
  font-weight: 300;
  margin-top:2 0px;
}
.copyright i{
  color: #ecb96e;
}
/*------------------------ CSS for small screens-----------------------------*/
nav.fa-solid{
  display:none;
}

@media only screen and (max-width: 600px){
  #header{
    background-image: url(images/bg6.gif);
    background-size:cover;

  }
  .header-text{
    margin-top: 10%; /* Adjust the margin top */
    padding-top: 60%; /* Adjust the padding top to position the text */
    font-size: 16px;
    text-align: center;
  }
  .hearder-text h1 {
    font-size: 30px;
  }
  nav .fa-solid{
    display: block;
    font-size: 25px;
  }
  nav ul{
    background: #fff;
    position:fixed;
    top: 0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid{
    position: absolute;
    top:25px;
    left:25px;
    cursor: pointer;
  }
  .sub-title{
    font-size : 40px;
  }
  .about-col-1, .about-col-2{
    flex-basis:100%
  }
  .about-col-1{
    margin-bottom:  30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  .copyright{
    font-size: 14px;
  }
}
#msg{
  color: #b54769;
  margin-top: -40px;
  display: block;
}